#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.appContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gamematrix {
  margin-top: 20px;
  height: 300px;
  width: 300px;
}
.gamematrix td {
  height: 50px;
  width: 50px;
}

.gameloggerContainer {
  margin: 16px;
  width: 300px;
  background-color: beige;
  border-radius: 8px;
}

.gamelogger {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  padding: 10px;
}

.playerInfoContainer {
  background-color: beige;
  border-radius: 8px;
  width: 300px;
}

.playerInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-size: 50px;
  margin: 0 0 20px 0;
}

.resetGame {
  border: 1px solid rgb(75, 75, 75);
  margin: 0px;
  color: rgb(75, 75, 75);
  padding: 10px;
}

.blueCell {
  background-color: rgb(21, 84, 172);
  color: rgb(226, 235, 243);
}

.redCell {
  background-color: rgb(198, 14, 14);
  color: rgb(237, 186, 183);
}
